<?php
if (!FrameworkConstants_ExecutionAccessRestriction) {
  exit('No direct script access allowed');
}

use Library\Generated\FrameworkViewnames;
//
//$ViewModel = new Library\ViewModels\WebIdeVm($this->app);
//if (!($ControllerVm instanceof Library\ViewModels\WebIdeVm)) {
//  throw new Library\Exceptions\InvalidViewModelTypeException();
//} else {
//  $ViewModel = clone $ControllerVm;
//}
?>
<p>New View</p>
